

.main {
  min-height: 100vh;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: blur(100wv);
}

.header {
  display: flex;
  margin: 1rem;
  line-height: 1.15;
  font-size: 1rem;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  height: 4rem;
  list-style-type: none;
}

.footer {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  border-top: 10px solid #eaeaea;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
  height: 20vh;
  background-color: #222;
}

.footer a {
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.animatedGradientTextFadeTitle{
  background-image: linear-gradient(90deg,#007cf0,#00dfd8);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  animation: slidein-top 1s ease;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  width: 80%;
  animation: fadein 2s ease;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.horizontalGrid {
  display: flex;
  overflow: auto;
  padding: 2rem;
  white-space: nowrap;
  align-items: center;
  max-width: auto;
  flex-direction: row;
  border-spacing: 1rem;
  animation: fadein 1s ease;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  overflow: hidden;
  backdrop-filter: blur(200px);
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.75rem;
}

.card a,
.card p {
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.5;
}

.logo {
  height: 1rem;
  margin-left: 0.5rem;
}

.logoInvert {
  height: 1rem;
  margin: 0.5rem;
  line-height: 1rem;
}

.background {
  filter: blur(100vw);
  position: absolute;
  z-index: -1;
}

.smallball {
  position: inherit;
  transform-origin: center;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 2rem solid #0070f3;
  background-color: #00dfd8;
  left: 30rem;
  animation: ball-movement 5s ease-in-out infinite;
}

.smallmdball {
  position: inherit;
  transform-origin: center;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  border: 2rem solid #0070f3;
  background-color: #00dfd8;
  top: 5rem;
  left: 70rem;
  animation: ball-movement 4s ease-in-out infinite;
}

.mediumball {
  position: inherit;
  transform-origin: center;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  border: 2rem solid #0070f3;
  background-color: rgb(255, 0, 85);
  top: 10rem;
  left: 70rem;
  animation: ball-movement 6s ease-in-out infinite;
}

.largeball{
  position: inherit;
  transform-origin: center;
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  border: 2rem solid #0070f3;
  background-color: #4000ff;
  top: 20rem;
  left: 60rem;
  animation: ball-movement 7s ease-in-out infinite;
}

.massiveball{
  position: inherit;
  transform-origin: center;
  height: 50rem;
  width: 50rem;
  border-radius: 50%;
  border: 2rem solid #0070f3;
  background-color: #7300ff;
  top: 5rem;
  left: 30rem;
  animation: ball-movement 8s ease-in-out infinite;
}

@keyframes ball-movement {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(10em, 0);
  }
  50% {
    transform: translate(10em, 10em);
  }
  75% {
    transform: translate(0, 10em);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes slidein-top {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
  
@keyframes slidein-bottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slidein-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slidein-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .horizontalGrid{
    width: 100%;
    flex-direction: row;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
    margin-left: 0.5rem;
  }
  .logoInvert img {
    filter: invert(1);
    margin: 0.5rem;
  }
}
