.main {
  min-width: min(20%, 1024px);
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-rendering: optimizeLegibility;
  background-color: #FFFFFF;
  min-height: calc(100vh - 88px);
  /* animation: fadein 1s;
  animation-fill-mode: forwards; */
  z-index: auto;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.animatedGradientTextFadeTitle{
  background-image: linear-gradient(90deg,#007cf0,#00dfd8);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: max(6.5vw, 3rem);
  color: black;
  font-weight: 800;
  align-self: center;
}

.smallTitle {
  margin: 0;
  padding: 0 2rem;
  line-height: 1.15;
  min-width: min(20%, 1024px);
  color: black;
  font-size: max(6vw, 2rem);
}

.title,
.description {
  text-align: center;
  align-self: center;
}

.description {
  color: black;
  margin: 0;
  padding: 0.25rem 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
  width: 100%;
  background: inherit;
  font-weight: 400;
  line-height: 1.53;
  min-width: min(20%, 1024px);
  overflow: hidden;
  position: relative;
}

.smallDescription {
  color: black;
  margin: 0;
  padding: 0.25rem 4rem;
  line-height: 1.5;
  font-size: 1rem;
  width: 100%;
  background: inherit;
  font-weight: 400;
  line-height: 1.53;
  min-width: min(20%, 1024px);
  overflow: hidden;
  position: relative;
}

.twoOneGrid {
  position: static;
  min-width: 100vw;
  max-width: 100vw;
  text-align: center;
  align-self: center;
  align-content: center;
  align-items: center;
  display: grid;
  top: 0;
  left: 0;
  grid-template-columns: 1fr 1fr; /* 2 columns */
  justify-content: center;
  padding-bottom: 0px;
}

.twoThreeGrid {
  position: static;
  width: inherit;
  height: inherit;
  display: grid;
  top: 0;
  left: 0;
  grid-template-columns: 1fr 1fr; /* 2 columns */
  grid-template-rows: 1fr 1fr 1fr; /* 3 rows */
  justify-content: center;
  max-width: 100vw;
  padding-bottom: 0px;
}

.gridChild {
  top: 0;
  padding: auto;
  position: relative;
  align-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  grid-column: auto;
  padding-bottom: 0;
}

.gridSquareImage {
  position: relative;
  width: 75%;
  height: 100%;
  aspect-ratio: 1/1;
  margin: 0;
  padding: 1rem;
  justify-self: center;
  align-self: center;
  filter: contrast(1.1);
  filter: saturate(1.2);
  border-radius: 2.5%;
}

.gridImage {
  position: relative;
  width: 75%;
  height: auto;
  margin: auto;
  justify-self: center;
  align-self: center;
  filter: contrast(1.1);
  filter: saturate(1.2);
  border-radius: 2.5%;
}

.gridChildImageVert{
  position: relative;
  scale: 0.92;
  margin: auto;
  filter: contrast(1.1);
  filter: saturate(1.2);
}

.gridChildImageHoriz{
  position: relative;
  scale: 1.2;
  margin: auto;
  filter: contrast(1.1);
  filter: saturate(1.2);
}

.horizontalGrid {
  position: relative;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 columns. To add more add more '1fr's */
  overflow: auto;
  padding: 1.5rem;
  align-content: center;
  justify-items: center;
  text-align: center;
  max-width: auto;
  flex-direction: row;
  border-spacing: 2rem;
  min-width: 50px;
  overflow-x: scroll;
  white-space: nowrap;
}

.background {
  filter: blur(100vw);
  position: absolute;
  z-index: -50;
}

.grain {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -999;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url("https://assets.website-files.com/61a6b59cc1578e2a2caf13c5/61ae57c4d73bf15eadf011b8_grain.gif");
  background-position: 0 0;
  background-size: auto;
  opacity: .05;
}

.aboutImage{
  width: 700px;
  height: 700px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("/AboutMePage/Me.jpeg");
  position: relative;
  max-height: 700px;
  max-width: 700px;
  margin: auto;
  justify-self: center;
  align-self: center;
  filter: contrast(1.1);
  filter: saturate(1.2);
  border-radius: 2.5%;
}

.codeImage{
  width: 700px;
  height: calc(700px/1.1275167785);
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("/programmingPage/TypescriptProgramming.png");
  position: relative;
  margin: auto;
  justify-self: center;
  align-self: center;
  filter: contrast(1.1);
  filter: saturate(1.2);
  border-radius: 2.5%;
}



@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes increaseSize5 {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.05;
  }
}

@keyframes increaseSize10 {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}

@keyframes pauseFadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@media screen and (max-width: 1600px) {
  .aboutImage{
    width: 40vw;
    height: 40vw;
  }
  .codeImage{
    width: 40vw;
    height: calc(40vw/1.1275167785);
  }
}

@media screen and (max-width: 1400px) {
  .twoOneGrid {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    flex-direction: column;
  }
  .gridChildImage{
    scale: 1.1;
  }
  .twoThreeGrid {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex-direction: column;
  }
  .horizontalGrid{
    width: 100%;
    flex-direction: row;
  }
  .globalnav {
    padding: 0 6rem;
  }
  .aboutImage{
    width: 60vw;
    height: 60vw;
  }
  .codeImage{
    width: 60vw;
    height: calc(60vw/1.1275167785);
  }
}

@media screen and (max-width: 1200px) {
  .twoThreeGrid{
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex-direction: column;
  }
  .twoOneGrid{
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    flex-direction: column;
  }
  .gridChild{
    padding: 1rem;
  }
}

@media screen and (max-width: 1050px) {
  .twoThreeGrid{
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    flex-direction: column;
  }
  .globalnav {
    padding: 0 6rem;
  }
}

@media screen and (max-width: 750px) {
  .twoThreeGrid{
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-direction: column;
  }
  .gridChild{
    margin-bottom: 0;
  }
  .twoOneGrid{
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    flex-direction: column;
  }
  .globalnav {
    padding: 0 4rem;
  }
  
}

@media screen and (max-width: 450px) {
  .globalnav{
    padding: 0 1rem;
  }
}


@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #1D1D1F;
    border-top: 1px solid #eaeaea;
  }
  .code {
    background: inherit;
    margin-left: 0.5rem;
  }
  .logoInvert {
    filter: invert(1);
  }
  .card {
    background: #1D1D1F;
  }
}

